.img-animate{
    animation: animate 3s linear infinite;

}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    25%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}